body{
    background-color: black;
    font-family: "Libre Baskerville", serif;    

    
}
div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    text-transform: uppercase;
    
}
img{
    width: 100%;
    border: 5px;
    border-style: solid;
    border-color: antiquewhite;
}

h1{
    color: antiquewhite;
    

}
p{
    color: antiquewhite;
}